// @import "./main.scss";
$prefix: "cdl";
@import "./themes/theme";
@import "./variables/variables";
@import "./mixins/mixins";


// import the needed bootstrap libraries here
// ---->>>>>
// custom imports or bootstrap customization imports
@import "./ui/ui";
@import "./components/components";
@import "./forms/forms";

// custom styles
html,
body {
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: $font;
    overflow-x: hidden;
}

.container.mod {
    padding: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: $text;
}





.for-desktop {
    display: block !important;

    @media (max-width: 800px) {
        display: none !important;
    }
}

.for-msite {
    display: none !important;

    @media (max-width: 800px) {
        display: block !important;
    }
}

.h1-style-1 {
    font-size: 4.6rem;
    color: white;
    font-weight: 700;
    line-height: 1;
}

.h2-style-1 {
    font-size: 4.35rem;
    color: #141C24;
    font-weight: 700;
}

.h3-style-1 {
    font-size: 2.25rem;
    color: white
}

.font-border {
    color: white;
    text-shadow: 2px 0 #D7008A, -2px 0 #D7008A, 0 2px #D7008A, 0 -2px #D7008A,
        1px 1px #D7008A, -1px -1px #D7008A, 1px -1px #D7008A, -1px 1px #D7008A;
}

.desc,
p {
    font-size: 1.5rem;
    font-weight: 400;

    line-height: 1.4;
    color: var(--Text-text-secondary, #344051);

}

.desc.color-white p {
    color: white;
}

.color-white {
    color: white;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.button-1:hover {
    box-shadow: 0px 0px 0 #D7008A;
    background: #D7008A;
    color: white !important;
    border: var(--spacing-2, 2px) solid var(--Text-text-primary, #D7008A)
}



.btn-style-1 {
    background: linear-gradient(79.77deg, #FFA72E 0%, #DF33A1 100%);
    border-radius: 3rem;
    padding: 0.5rem 2rem !important;
    color: white !important
}

.btn-style-2 {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.btn-style-2 span {
    display: inline-block;
    background-color: white;
    font-size: 1.2rem;
    border: 2px solid rgba(20, 28, 36, 1);
    padding: 0.5rem 2rem;
    position: relative;
    z-index: 1;
    border-radius: 2rem;
    color: #141C24;

}

.btn-style-2:before {
    border-radius: 2rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 100%;
    height: 100%;
    background: #D7008A;
    content: "";
}

.btn-style-1:before {
    display: none;
}


@media (max-width:1600px) {

    html,
    body {
        font-size: 16px;
    }
}




@media (min-width:600px) {
    .accordion_row_space {
        display: none;
    }
}

@media (max-width:600px) {}

.logo {

    img {
        height: 8rem;
    }
}

/////ABOUT US////
.block-slider {}

/// END ABOUT US///

@media(max-width:960px) {

    html,
    body {
        font-size: 12px;
        overflow-x: hidden;
    }

    .home-blk-3-2,
    .home-blk-3-1 {
        padding-top: 0 !important;
        position: relative;
        z-index: 10;
    }

    .row .col-md-7 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }


    .testimonials-slider {
        position: relative;
    }

    .banner-img-1 {
        position: relative !important;
    }

    .navbar-brand img,
    .hero-bg img {
        margin-top: 0;
    }

    div.hero-content-row {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
    }

    .ban-clients .ban-client-style-1 {
        display: none !important
    }

    .ban-clients .ban-client-style-1:first-child {
        display: block !important
    }

    .ban-client-info {

        right: 22% !important;
    }


    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    div.container {
        padding-right: 15px !important;
        padding-left: 15px !important;

    }


    .hero-content {
        width: 100% !important;
    }

    .hero-bg img {
        height: 100%;
    }

    header {
        top: 0;
    }

    .banImg1 {
        height: auto;

    }

    .h1-style-1 {
        font-size: 12.5vw;
    }

    .h2-style-1,
    .heading-2 {
        font-size: 10vw !important;
    }

    .home-blk-3-1 .heading-2 {
        font-size: 12vw !important;
        position: relative;
    }

    .home-blk-3-2 .row .col-md-7 {
        padding-top: 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-top: 0 !important;
    }

    #tabs-slider-blk-3-1.gallery-blk-3-tabs {
        display: block;
        text-align: center;
    }

    #tabs-slider-blk-3-1.gallery-blk-3-tabs .tab-style-1 {
        width: 47%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .aboutus-section-img-1 {
        width: 38%;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .matensa-community .img svg {
        max-width: 100%;
        height: auto;
    }

    .payment-gateway {
        display: block;
        width: 100%;
    }

    .payment-gateway span {

        width: 47% !important;
        display: inline-block;
    }

    .copy-r {
        margin-top: 1rem !important;
        padding-top: 0;
    }

    .play-store-row {
        padding-bottom: 1.5rem;
    }

    .footer-section {
        text-align: center;
    }

    .payment-gateway span img {
        max-width: 100%;
    }

    .gallery-blk-3 {
        margin-top: 3rem;
    }


    .hero {
        padding-top: 8rem;
    }

    .banImg1 {
        max-width: 80% !important;
        margin: 0 auto;
    }

    .bg-img-1 span {

        left: 15px;
    }

    .row {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }

    .ban-clients {
        transform: scale(0.8);
        right: 15px;
        top: 100%;
    }

    .home-blk-3-2 {
        padding-top: 0 !important
    }

    .slider-item-style-1 .img img {
        height: auto;
        max-height: 55vh;
        width: 100%;
    }

    .rate-result {
        margin-top: 1rem;
    }

    .white-header .nav-link {
        color: #344051 !important;
    }

    .white-header .nav-link.btn-style-1 {
        color: white !important;

    }

    .nav-link {
        font-size: 5vw;
        margin-bottom: 3vh;
    }

    .nav-item {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    #navbarNav {
        background: white;
        height: 100vh;
        top: 0;
        position: fixed;
        right: -100vw;
        width: 80%;
        padding-top: 14vh;
        text-align: center;
    }

    .menu-active #navbarNav {
        right: 0;
    }

    .menu-active .menu-bar span {
        background: #344051
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:hover {
        outline: none !important;
        border: none !important;
        text-shadow: none !important;
        background: none !important;
        position: absolute;
        right: 0;
        z-index: 1000;
        top: 2.5rem;
    }

    .menu-active .menu-mobile-shadow {
        opacity: 1;
        visibility: visible;
    }

    .menu-active {
        overflow: hidden;
    }
}


@media (max-width:600px) {}