.main-section {
    position: relative;
}

.hero-content-row {
    display: none;
    ;
}

.banner-img-1 .start {
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    -ms-transition-delay: 0s;
    -ms-transition-duration: 1s;
    -ms-transition-property: all;
    -ms-transition-timing-function: ease;
    -o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}

.banner-img-1 .start {
    display: inline-block;
}

.home-section-3 {
    margin-top: 300px !important;
}

body.home-animation {
    overflow: hidden;
}

.home-section-2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;

    .destination {
        opacity: 0;
        visibility: hidden;
    }

    .heading-2,
    .home-section-2-description,
    .slider-item-style-1,
    .slider-item-1-content {
        opacity: 0;
        visibility: hidden;


        transition-delay: 0s;
        transition-duration: 1s;
        transition-property: all;
        transition-timing-function: ease;
        -webkit-transition-delay: 0s;
        -webkit-transition-duration: 1s;
        -webkit-transition-property: all;
        -webkit-transition-timing-function: ease;
        -moz-transition-delay: 0s;
        -moz-transition-duration: 1s;
        -moz-transition-property: all;
        -moz-transition-timing-function: ease;
        -ms-transition-delay: 0s;
        -ms-transition-duration: 1s;
        -ms-transition-property: all;
        -ms-transition-timing-function: ease;
        -o-transition-delay: 0s;
        -o-transition-duration: 1s;
        -o-transition-property: all;
        -o-transition-timing-function: ease;
    }

    .slider-item-style-1 .img {
        background: none;
    }

    .swiper-slide-active .slider-item-style-1 {
        opacity: 1;
        visibility: visible;
    }
}

.bg-img-1 {


    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    -ms-transition-delay: 0s;
    -ms-transition-duration: 1s;
    -ms-transition-property: all;
    -ms-transition-timing-function: ease;
    -o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;

}

.home-animation {

    .heading-2,
    .home-section-2-description,
    .slider-item-style-1,
    .slider-item-1-content {
        opacity: 1;
        visibility: visible;

    }

    .bg-img-1 {
        width: 400vw;
        left: -200vw;
        bottom: -200vh;
        height: 400vh;
        background: white !important;

        span {
            height: 100%;
            width: 100%;
            border-radius: 0;
            background: rgba(255, 255, 255, 1);
            border: 0px solid #ffffff;
        }

    }
}