.swiper-container {
    // height: 400px;
}

.slider-item-style-1 {
    position: relative;
}

.slider-item-style-1.start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;

    transition: transform 0.3s;
}

.swiper-3d .swiper-slide-shadow-left {
    background: none;
}

.swiper-slide-active {
    transform: scale(1.2);
}

.slider-item-style-1 .img img {
    // height: 30rem;
    width: 100%;
    object-fit: cover;
}

.swiper-pagination {
    bottom: -3.5rem !important;
    top: auto !important
}

.home-section-2 .slider-item-style-1 .img {
    height: 100%;
    display: flex;
    align-items: end;
}

.home-section-2 .swiper-pagination {
    bottom: -3rem !important;
}

.swiper-pagination-bullet-active {
    background: #637083;
    width: 1.3rem;
    border-radius: 0.5rem;
}

.swiper-slide.swiper-slide-visible {
    opacity: 1;
}

.swiper-slide {
    opacity: 0;
}

.home-section-3 {
    overflow: hidden;
    background: var(--website-text-blue-dark, #0A0130);
}

.home-blk-3-video img {
    max-height: 80vh;
    object-fit: cover;
    border-radius: 1rem
}

.video-player-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.slider-item-blk-3 img {
    max-width: 100%;
}

.home-section-2 {
    margin-bottom: 6rem !important
}

.gallery-blk-3-tabs {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    /* Centers the swiper container horizontally */
    align-items: center;
    /* Centers the swiper container vertically if needed */
}

.tab-style-1 {
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 0.9rem;
    border-radius: 3rem;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.tab-style-1.active {
    background: white;
    color: var(--Text-text-primary, #141C24);
    font-weight: 500;
}

.home-blk-3-content img {
    max-width: 100%;
}

.shadow-style-1 {
    width: 0;
    height: 0;
    opacity: 0.4;
    display: inline-block;
    border-radius: 50%;
    /* Makes the element round */
    background: linear-gradient(270deg, #D7008A 0%, #FFA72E 100%);
    /* Background gradient */
    box-shadow: 0px 0px 30vw 30vw #D7008A,
        /* Gradient color for the box shadow */
        0px 0px 30vw 30vw #FFA72E;
    /* Gradient color for the box shadow */
    /* Box shadow */

}

.aboutus-section img {
    max-width: 100%;
}

.aboutus-section-img-1 {
    display: inline-block;
    width: 40%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    vertical-align: top;
}

.matensa-community {
    background: #0A0130;
    width: 100%;
}

.matensa-community .img svg {
    max-width: 100%;
}

.ban-client-info {
    overflow: hidden;
}



.banImg1 {
    opacity: 0;
    transform: translateY(400px) scale(0);
    vertical-align: bottom;
}

.bg-img-1 {
    opacity: 0;
}

.trans,
.hero-content h1,
.hero-content p,
.hero-content span {
    opacity: 0;
}

.trans.ActiveItem {
    opacity: 1;
}







.ban-client-img img,
.ban-client-info {
    transform: scale(0);

}

.ban-client-img img {
    opacity: 0;
}

.load-page .ban-client-img img {
    opacity: 1;
}

.load-page .ban-clients.active .ban-client-img img,
.load-page .ban-clients.active .ban-client-info {
    animation: ini-scale 0.5s forwards;
}

@keyframes ini-scale {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}


.banImg1,
.bg-img-1,
.trans,
.ban-client-img img {
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    -ms-transition-delay: 0s;
    -ms-transition-duration: 1s;
    -ms-transition-property: all;
    -ms-transition-timing-function: ease;
    -o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}

.hero-content h1,
.hero-content p,
.hero-content span,
.ban-client-style-1 {

    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;

    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;

    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;

    -ms-transition-duration: 1s;
    -ms-transition-property: all;
    -ms-transition-timing-function: ease;

    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}






.load-page .banImg1,
.load-page .bg-img-1 {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.load-page .hero-content h1,
.load-page .hero-content p,
.load-page .hero-content span {
    opacity: 1;
}

.ban-clients {
    display: none;
}

.ban-clients.active {
    display: block;
}


.removeItems .ban-client-style-1 {
    transform: scale(0);
}

.matensa-community .img svg g,
.slider-item-blk-3 svg g,
.home-blk-3-content svg g {
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    -ms-transition-delay: 0s;
    -ms-transition-duration: 0.4s;
    -ms-transition-property: all;
    -ms-transition-timing-function: ease;
    -o-transition-delay: 0s;
    -o-transition-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}

.slider-item-blk-3 svg {
    max-width: 100%;
}

.slider-item-blk-3 svg g,
.home-blk-3-content svg g {
    opacity: 0;
}

.trans.ActiveItem .swiper-slide-active .slider-item-blk-3 svg g,
.home-blk-3-content .img.trans.ActiveItem svg g {
    opacity: 1;
}

// Transaction Delay
$number-of-classes: 3;
$base-delay: 0.4s;

// Loop to generate classes with incremental delays
@for $i from 1 through $number-of-classes {
    .home-blk-3-content svg .g-#{$i} {
        transition-delay: $i * $base-delay;
    }
}

// Transaction Delay
$number-of-classes: 7;
$base-delay: 0.4s;

// Loop to generate classes with incremental delays
@for $i from 3 through $number-of-classes {
    .slider-item-blk-3 svg g:nth-child(#{$i}) {
        transition-delay: ($i - 2) * $base-delay;
    }
}


// Define the number of classes and the base delay
$number-of-classes: 24;
$base-delay: 0.13s;

// Loop to generate classes with incremental delays
@for $i from 1 through $number-of-classes {
    .matensa-community .img svg g:nth-child(#{$i}) {
        transition-delay: $i * $base-delay;
    }
}

.matensa-community .img svg g {
    opacity: 0;
}

.matensa-community .trans.ActiveItem.img svg g {
    opacity: 1;
}


// Define the number of classes and the base delay
$number-of-classes: 10;
$base-delay: 0.2s;

// Loop to generate classes with incremental delays
@for $i from 1 through $number-of-classes {
    .trans-#{$i} {
        transition-delay: $i * $base-delay;
    }
}

@for $i from 1 through $number-of-classes {
    .anim-#{$i} {
        animation-delay: $i * $base-delay !important;
    }
}

.slider-item-1-content {
    position: absolute;
    bottom: 2rem;
    width: 90%;
    left: 5%;
}

.slider-item-1-card {
    display: flex;


    background: #FFFFFF;
    border-radius: 1rem;
    padding: 0.7rem 0.8rem;
}

.slider-item-1-content h5 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.slider-item-1-card i {
    margin-right: 0.6rem;
}

.slider-item-1-card span {}

.slider-item-1-card p b {
    display: block;
    font-size: 1rem;
}

.slider-item-1-card span {
    font-size: 1.15rem;
    color: #141C24;
    margin-left: 0.5rem;
    font-weight: 500;

}

.slider-item-1-card p {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0;

}